<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin Home Page</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<span class="navbar-brand mb-0 h1">Admin Home</span>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">

		</div>
	</div>
	<a th:href="@{/logout}" class="navbar-brand h2">Logout</a>
  </nav>
  <body>
    <main>
    	<div class="container ">
			<div class="row mt-5 mb-4" style="height: 150px; text-align: center;">
				<div class="col btn-group" >
					<a class="btn btn-outline-dark d-flex justify-content-center align-items-center" th:href="@{/adminhome/userdirectory/studentdirectory?userIndex=0&search=}"><span class="h4">Student Management</span></a>
				</div>
				<div class="col btn-group ">
					<a class="btn btn-outline-dark d-flex d-flex justify-content-center align-items-center" th:href="@{/adminhome/userdirectory/facultydirectory?userIndex=0&search=}"  style="text-align:center;"><span class="h4">Faculty Management</span></a>
				</div>
				<div class="col btn-group">
					<a class="btn btn-outline-dark d-flex justify-content-center align-items-center" th:href="@{/adminhome/userdirectory/admindirectory?userIndex=0&search=}"><span class="h4">Admin Management</span></a>
				</div>
			</div>
			<div class="row" style="height: 150px;">
				<div class="col btn-group">
					<a class="btn btn-outline-dark d-flex justify-content-center align-items-center" th:href="@{/adminhome/userdirectory?userIndex=0&search=}"><span class="h4">All User Management</span></a>
				</div>
				<div class="col btn-group">
					<a class="btn btn-outline-dark d-flex justify-content-center align-items-center" th:href="@{/adminhome/coursedirectory?courseIndex=0&search=}"><span class="h4">Course Management</span></a>
				</div>
				<div class="col btn-group">
					<a class="btn btn-outline-dark d-flex justify-content-center align-items-center" th:href="@{/adminhome/sectiondirectory?sectionIndex=0&search=}"><span class="h4">Section and Enrollment Management</span></a>
				</div>
			</div>
    	</div>
    </main>
  </body>
</html>