<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Faculty Home Page</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<span class="navbar-brand mb-0 h1" th:text="'Course '+${section.courseID}"></span>
	<span class="navbar-brand mb-0 h1" th:text="'Section '+${section.sectionID}"></span>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">

		</div>
	</div>
	<a th:href="@{/logout}" class="navbar-brand h2">Logout</a>
  </nav>
  <body>
    <main>
    	<div class="container">
    		<div class = row style="margin-top: 50px;">
	    		<div>
		    		<p  class="h4 mb-2">List of Student Submissions</p>
		    	</div>
	    		<table class="table table-bordered table-striped">
		    		<thead class="thead-dark">
		    			<tr>
		    				<th>Student ID</th>
		    				<th>Submissions</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr th:each="tempSubmissionList: ${submissions}">
		    				<td th:text="${tempSubmissionList[0].studentID}" class="h5"></td>
		    				<td>
			    				<table class="table table-bordered table-striped" >
						    		<thead class="thead-dark">
						    			
						    			<tr>
						    				<th>Submission ID</th>
						    				<th>Submission Text</th>
						    				<th>Submission Grade</th>
						    				<th>Submission Date</th>
						    				<th>Action</th>
						    			</tr>
						    		</thead>
						    		<tbody>
						    			<tr th:each="tempSubmission: ${tempSubmissionList}">
						    				<td th:text="${tempSubmission.submissionID}"/>
			    							<td th:text="${tempSubmission.submissionText}"/>
			    							<td th:text="${tempSubmission.submissionGrade}"/>
			    							<td th:text="${tempSubmission.submissionDate}"/>
						    				<td>
						    					
						    				</td>
						    			</tr>
						    		</tbody>
						    	</table>
		    				</td>
		    			</tr>
		    		</tbody>
		    	</table>
    		</div>
    	
    		
    	</div>
    </main>
  </body>
</html>