<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Faculty Home Page</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<span class="navbar-brand mb-0 h1" th:text="'Course '+${section.courseID}"></span>
	<span class="navbar-brand mb-0 h1" th:text="'Section '+${section.sectionID}"></span>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a th:href="@{/}" class="nav-item nav-link active">Home<span class="sr-only">(current)</span></a>
			<a th:href="@{/facultyhome/sectioncontent(sectionID=${section.sectionID})}" class="nav-item nav-link active">Section Home<span class="sr-only">(current)</span></a>
			<a th:href="@{/facultyhome/sectioncontent/classlist(sectionID=${section.sectionID})}" class="nav-item nav-link active">Classlist<span class="sr-only">(current)</span></a>
		</div>
	</div>
	<a th:href="@{/logout}" class="navbar-brand h2">Logout</a>
  </nav>
  <body>
    <main class="mx-5">
    	<div class="container-fluid">
    		<div class = row style="margin-top: 50px;">
	    		<div>
		    		<p  class="h4 mb-2">List of Student Submissions</p>
		    	</div>
	    		<table class="table table-bordered table-striped">
		    		<thead class="thead-dark">
		    			<tr>
		    				<th>Student ID</th>
		    				<th>Submissions</th>
		    				<th>Submission Grade</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr th:each="tempSubmissionList,iterStat: ${submissions}">
		    				<td>
		    				<!-- 
		    					<span th:if="${tempSubmissionList!=null and !tempSubmissionList.empty}" th:text="${tempSubmissionList[0].studentID}" class="h4"></span>
		    					<span th:if="${!(tempSubmissionList!=null and !tempSubmissionList.empty)}" class="h4">Empty Submission List</span>
		    				-->
		    				<span th:text="${assignmentStudentGradeList[iterStat.index].studentID}" class="h4"></span>
		    				</td>
		    				<td>
			    				<table class="table table-bordered table-striped" >
						    		<thead class="thead-dark">
						    			<tr>
						    				<th>Submission ID</th>
						    				<th>Submission Text</th>
						    				<th>Submission Date</th>
						    				<!-- <th>Submission Grade</th>	-->
						    			</tr>
						    		</thead>
						    		<tbody>
						    			<tr th:each="tempSubmission: ${tempSubmissionList}">
						    				<td th:text="${tempSubmission.submissionID}"/>
			    							<td th:text="${tempSubmission.submissionText}"/>
			    							<td th:text="${tempSubmission.submissionDate}"/>
			    							<!-- 
			    							<td>
			    								
			    									<form action="#" th:action="@{/facultyhome/sectioncontent/submissions/addgrade(assignmentID=${tempSubmission.assignmentID})}"
							    						 th:object="${tempSubmission}" method="POST">
							    				
							    						<input type="text" th:value="*{submissionGrade}"name="submissionGrade" id="submissionGrade" required>
							    						<input type="hidden" th:value="*{submissionID}"name="submissionID" id="submissionID">
							    						<input type="hidden" th:value="*{studentID}"name="studentID" id="studentID"> 
							    						<input type="hidden" th:value="*{assignmentID}"name="assignmentID" id="assignmentID"> 
							    						<input type="hidden" th:value="*{submissionText}"name="submissionText" id="submissionText"> 
							    						<input type="hidden" th:value="*{submissionDate}"name="submissionDate" id="submissionDate"> 
							    						<button type="submit"class="btn btn-secondary btn-sm">Save</button> 
							    					</form>
							    				
			    							</td>
			    							-->
						    			</tr>
						    		</tbody>
						    	</table>
		    				</td>
		    				<td>
		    					<form action="#" th:action="@{/facultyhome/sectioncontent/submissions/addgrade(assignmentID=${assignmentStudentGradeList[iterStat.index].assignmentID})}"
							    	th:object="${assignmentStudentGradeList[iterStat.index]}" method="POST">
		    						<input type="number" th:value="${assignmentStudentGradeList[iterStat.index].assignmentStudentGrade}"
		    							name="assignmentStudentGrade" id="assignmentStudentGrade" th:max="${assignment.assignmentGrade}" style="width:80px;">
		    						
		    						<span th:text="'/' + ${assignment.assignmentGrade}"></span>
		    						
		    						<input type="hidden" th:value="${assignmentStudentGradeList[iterStat.index].studentID}"name="studentID" id="studentID"> 
		    						
		    						<input type="hidden" th:value="${assignmentStudentGradeList[iterStat.index].assignmentID}"name="assignmentID" id="assignmentID"> 
			    					
			    					<button type="submit"class="btn btn-secondary btn-sm">Save</button> 
		    					</form>
		    				</td>
		    				
		    			</tr>
		    		</tbody>
		    	</table>
    		</div>
    	</div>
    </main>
  </body>
</html>